{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1>МОИ фильмы</h1>
<!-- Вариант без поиска, с передачей массива, содержащего ид нужных фильмов, и обращением сразу к подходящим фильмам -->
        {% for i in film_list %}
        <div class="alert alert-info">
            <h2>{{films[i-1].film_name}}</h2>
            <img src="{{ url_for('getposter', id=i) }}" alt="poster" height="280" width="185">
            <p>{{films[i-1].year}}</p>
        </div>
        {% endfor %}

      <div class="accordion" id="accordionExample">
          {% for i in film_list %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2>{{films[i-1].film_name}} ({{films[i-1].year}})</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <img src="{{ url_for('getposter', id=i) }}" alt="poster" height="280" width="185">
          {{films[i-1].descript}}
      </div>
    </div>
  </div>
          {% endfor %}
</div>
    </div>


{% endblock %}