:root {
    --color1: #ffffff;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

nav
{
    background-color: #000000;

}

.recently-watched{
    margin: 50px auto 50px;
}

.reg-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.reg-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-check {
    margin-top: 20px;
    margin-bottom: 20px;
}

.outline-col {
    border-style: double;
    border-width: 1px;
    border-color: #988999;
    border-radius: 5px;
    box-shadow: 0 0 10px -3px black;
}

.user-profile-container {
    margin-top: 80px;
    background-color: #888888;
    border-color: #988999;
    border-radius: 5px;
    box-shadow: 0 0 10px -3px black;
    height: 200px;
}

.row {
padding-left: 15px;
padding-right:15px;
}

.search-form {
margin-top: 10px;
}

.icon-profile
{
width: 20px;
height: 20px;}

.profile-icon {
width: 40px;
height: 40px;
}
.nav-item {
margin-right: 20px;
}
.nav-link {
display: inline-block;
}

.ava-item {
margin-right: 20px;
}

.container-fluid {
margin-right: 15px;}

.card-style {
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
  }

/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 150px; /* note i used vw not px for better responsive */
  height: 150px;
}

.custom-circle-image img {
  object-fit: cover;
}

.custom-circle-image-small {
  width: 30px; /* note i used vw not px for better responsive */
  height: 30px;
  display: inline-block;
}

.custom-circle-image-small img {
  object-fit: cover;
}

.tratata {
font-size: 80px;
color: green;
}

.simple-rating {
    position: relative;
    font-size: 40px;
    display: inline-block;
}

.simple-rating::before {
    content: "★★★★★★★★★★";
    display: block;
}

.simple-rating-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple-rating-item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0%;
    visibility: hidden;
    top: 0;
    left: 0;
}

.simple-rating-label {
    flex: 0 0 10%;
    height: 100%;
    cursor: pointer;
    color: #000;
}

.simple-rating-label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.simple-rating-item:checked,
.simple-rating-item:checked ~ .simple-rating-label {
    color: #FFB300;
}

.simple-rating-label:hover,
.simple-rating-label:hover ~ .simple-rating-label,
.simple-rating-label:checked ~ .simple-rating-label:hover {
    color: #FFB300;
}

.star-rating{
 font-size: 0;
}
.star-rating__wrap{
 display: inline-block;
 font-size: 1rem;
}
.star-rating__wrap:after{
 content: "";
 display: table;
 clear: both;
}
.star-rating__ico{
 float: right;
 padding-left: 2px;
 cursor: pointer;
 color: #FFB300;
}
.star-rating__ico:last-child{
 padding-left: 0;
}
.star-rating__input{
 display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
 content: "\f005";
}




